
body, .form-control, .btn-default  {
	background-color: #FDFDF9;
	}

h1.logo {
	display: none;
	}

h2 {
	}

h2.hidden {
	display: none;
	}

h3 {
	}
    
p.center {
	text-align: center;
	}

.right {
	float: right;
	}

.breathe {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	}
    
.sigh {
	padding-top: 1em;
	padding-bottom: 1em;
	}
    
.sigh-above {
	padding-top: 1em;
	}
    
.gasp {
	padding-top: 2em;
	padding-bottom: 1em;
	}

td.old {
	width: 50%;
	color: #cc0000;
	}

td.new {
	width: 50%;
	color: #008800;
	}

th {
	font-weight: normal;
	font-size: 80%;
	text-decoration: italic;
	}
    
code.gray {
	color: white;
	background-color: #888;
	}

pre {
	overflow: scroll;
	}
            
ul.unindented {
    list-style-position: inside;
    padding-left: 0;
    }

ul.unindented li {
    padding-left: 0;
    margin-bottom: 0.3em;
    }

ul.unindented li:before {
    padding-right: 0.2em;
    }


ul.indented {
    /* list-style: none; */
    list-style-position: inside;
    padding-left: 0.5em;
    }

ul.indented li {
    padding-left: 0;
    margin-bottom: 0.3em;
    }

ul.indented li:before {
    /* content: "☞"; */
    padding-right: 0.5em;
    }
    

form.subscribe {
    padding: 0.4em 1em 0.6em 1em;
    }
    
.vdivider {
    padding-right: 20px;
    border-right: 1px solid #ccc;
    }

body.artikel {
	line-height: 1.8;
	}

body.artikel p img {
	border-radius: 4px;
	margin-top: 1em;
	margin-bottom: 1em;

	-webkit-box-shadow: 6px 6px 13px -1px rgba(189,189,189,1);
	-moz-box-shadow: 6px 6px 13px -1px rgba(189,189,189,1);
	box-shadow: 6px 6px 13px -1px rgba(189,189,189,1);
	}

.col-center {
	float: none;
	margin-right: auto;
	margin-left: auto;
	}
	
body.artikel .col-center {
	max-width: 30em;
	}

div.artikel h2 {
	font-size: 150%;
	margin-bottom: 0;
	margin-top: 1.5em;
	}

div.artikel p.datum {
	font-size: 80%;
	color: #888;
	margin: 0;
	}

div.artikel p.ankeiler {
	}

@media (min-width: 992px) {            
	.squeeze-left {
	    padding: 0 1em 0 0;
	    }

	.squeeze-middle {
	    padding: 0 1em 0 1em;
	    }
	
	.squeeze-right {
	    padding: 0 0 0 1em;
	    }
}
